/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem 0 2rem;
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 115rem;
  text-align: center;
  margin-top: 6rem; /* Add some margin-top to create space */
}

.header__title h1 {
  font-size: 8rem;
  line-height: 1.35;
  margin-bottom: 0.5rem; /* Reduce margin-bottom to decrease space */
}

.header__img {
  width: 100%;
  max-width: 35rem; /* Increase max-width to make the photo bigger */
  height: auto;
  margin: 0.5rem 0; /* Reduce margin-top and margin-bottom */
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0; /* Reduce margin-top and margin-bottom */
}

h4 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem 0; /* Reduce margin-top and margin-bottom */
}

.icon-link {
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  padding: 0 1rem; /* Add padding to space out icons */
}

.icon-link:hover {
  color: #0073b1;
}

.icon-link:nth-child(2):hover {
  color: #333;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(0.95, 0.9) skewX(-15deg);
  background-image: var(--gradient-primary);
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 8rem 2rem 0 2rem;
  }

  .header__title h1 {
    font-size: 6rem;
    line-height: 1.35;
    margin-bottom: 0.2rem; /* Reduce margin-bottom to decrease space */
  }

  .header__img {
    width: 100%;
    max-width: 30rem; /* Adjust max-width for mobile view */
    height: auto;
    margin: 0.2rem; /* Reduce margin-top to decrease space */
  }

  .header__content {
    flex-direction: column;
    gap: 1rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  .icon-link {
    font-size: 2.4rem;
    padding: 0 0.5rem; /* Add padding to space out icons */
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 10rem 1rem 0 1rem;
  }

  .header__title h1 {
    font-size: 4rem;
  }

  .header__img {
    max-width: 25rem; /* Increase max-width for small mobile view */
  }

  .header__content {
    flex-direction: column;
    gap: 0.5rem;
  }

  h4 {
    font-size: 2rem;
    margin: 0.2rem 0; /* Reduce margin-top and margin-bottom */
  }

  .icon-link {
    font-size: 2rem;
    padding: 0 0.5rem; /* Add padding to space out icons */
  }
}